BASE_URL=https://www.saucedemo.com
STANDARD_USER=your_standard_username
LOCKED_OUT_USER=your_locked_out_username
PROBLEM_USER=your_problem_username
PERFORMANCE_GLITCH_USER=your_performance_glitch_username
ERROR_USER=your_error_username
VISUAL_USER=your_visual_username
PASSWORD=your_password
WORKERS=4
